.drop-item {

	cursor:pointer;
	padding: 2px 10px 2px 16px;
	white-space: nowrap;
	overflow-x:hidden;
}

.sub { color:#BBBBBB; }

.grp-w:hover, .sub-w:hover, .drop-item:hover { color:#FF8000; }

.grp-w, .sub-w, .grp-num-w, .sub-num-w { display: table-cell; }

.sub-w { padding-left: 10px; }

.grp-num-w, .sub-num-w {
	
	padding-left:5px;
	color:#FF8000;
}

.grp-w { color: #000000; font-weight: bold;}
.sub-num-w:before, .grp-num-w:before { 	content: "["; color: #6B8E23; }
.sub-num-w:after, .grp-num-w:after { content: "]"; color: #6B8E23; }


.noItemWrapper {

	margin-top: 10px;
	border-style: ridge;
	border-width:1px;
	border-color:#eaeaea;
}

.noItem {
	
	padding: 30px;
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
}

/* FOLLOWING ITEMS ARE CUT DOWN TO MINIMAL SIZE */
/* FOR OBVIOUS REASONS */

.i-w {
	
	border: 1px solid #EAEAEA;
	margin-top:10px;
	background-color: #FFFFFF;
	overflow-x: auto;
}

.i-w-high {
	
	border: 1px solid #FF8000;
	margin-top:10px;
	background-color: #FFFFFF;
	overflow-x: auto;
}
.i-w:hover {
	
	border-color:#FF8000;
    -webkit-transition-delay:0.5s;
}

.i-sp {
	
	width:100%;
	height:10px;
}

.a-main {
	
	margin: 20px 20px 10px 20px;

}
.cog-o-off, .cog-o-on {
	float:right;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0.2s;
}

.cog-o-off { opacity: 0;}
.cog-o-on {opacity: 1}

.cog-i { 
	cursor:pointer;
	border: 1px solid #DDDDDD;
	font-size:13px;
	padding:10px;
	text-align: right;
	width: 120px;
	font-weight:bold;
	color:#808080; 
}

.a-t {
	
	text-align:right;
	width: 120px;
	margin-bottom: 20px;
	color:#808080;
	font-size: 1.3em;
	font-weight: bold;	
}

.a-o {
	
	text-align:right;
	color:#999999;
	cursor: pointer;
	width: 120px;
	padding-bottom: 5px;
}

.a-o:hover {
	
	color:#FF8000;
}


.rg {
	table-layout:fixed;
	font-size:13px;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom: 10px;
	width:100%;
}

.rg-r { 
	padding: 2px 0px 2px 0px;
	border: 1px solid #EAEAEA; }

.rg-r:hover { 
	
	border: 1px double #FF8000;
	font-weight:bold; }

.r-c-t, .r-c-f, .r-c-d, .r-c-o, .r-c-p {
	
	vertical-align:middle;
	background-color:#FFFFFF;
	padding: 3px 4px 3px 4px;
	overflow-x:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.r-c-f { 
	color:#999999;
	width: 250px;
}

.r-c-d { 
	
	width: 140px;
	color:#999999;}

.r-c-o { 
	cursor:pointer;
	text-align:right;
	width: 50px;
	color: #999999;
}

.r-c-t a {

	color: #454545;
	overflow-x:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.r-c-f a {
	
	color: #6B8E23;
	overflow-x:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.r-c-p { 
	cursor:pointer;
	width: 12px;

}

.r-c-p:hover {color: #FF8000;}

.i-t, .i-t-b { width:auto; }

.i-t a {
	
	font-size: 1.3em;
	font-weight: bold;
	color:#454545;
}

.i-s {
	
	color: #999999;
}

.i-s a {
	
	font-size: 0.95em;
	font-weight: bold;
	color: #6B8E23;
}

.i-d {
	
	font-size: 0.85em;
	padding-top:2px;
	color:#808080;
}

.i-par {
	
	border-style: solid;
	border-width:1px;
	border-color: #DDDDDD;
}

.i-t-w {
	
	text-align:justify;
	font-size: 0.9em;
	padding: 10px 20px 10px 20px;
	color: #454545;
}

.i-e-on, .i-e-off {
	
	clear:left;
	cursor:pointer;
	font-size: 12px;
	color:#BBBBBB;
	border-top: 1px solid #EAEAEA;
	padding: 2px 10px 2px 2px;
	text-align:right;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: 0.2s;
}

.i-e-on { opacity:1; }
.i-e-off { opacity:0; }
.i-e-on:hover { color:#FF8000; }

/* OPTION MENU */

.o-mnu-off {

	z-index:-50;
	opacity:0;
	width:120px;
}

/* COMPLETE */

.o-mnu-on {
	
	position:absolute;
	width:120px;
	font-size: 13px;
	background-color:#FFFFFF;
	border: 1px solid #FF8000;
	padding: 10px;
	z-index:50;
	opacity:1;
	text-align:right;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s; 
}


.o-mnu-i {
	
	cursor:pointer;
	color:#6B8E23;
	padding-top: 5px;

}

.default:before { 
	
	color:#BBBBBB;
	content: '* ';
}

.o-mnu-i:hover, .o-mnu-t:hover { color:#FF8000;}

.o-mnu-t { 
	
	cursor:pointer;
	border-bottom:1px solid #EAEAEA;
	padding-bottom: 10px;
	font-weight:bold;
	color:#999999;
	width:120px;
}

/* GRID */

.o-mnu-g-on {
	
	position:absolute;
	width:250px;
	background-color:#FFFFFF;
	border: 1px solid #FF8000;
	font-size:13px;
	z-index:1;
	opacity:1;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
}

.o-mnu-g-i, .o-mnu-g-t { 

	cursor:pointer;
	float:right;
	display: table-cell;
	padding: 3px 4px 3px 4px;
}

.o-mnu-g-i { color:#6B8E23; }

.o-mnu-g-i:hover, .o-mnu-g-t:hover { color:#FF8000;}

.o-mnu-g-t { 
	
	font-weight:bold;
	color:#999999;
}

/* Misc External (feed) formatting */

.feedflare {
	
	margin-top:20px;
	border-style:dotted;
	border-width:2px;
	border-color: #EAEAEA;
	padding-top:5px;
	padding-left:10px;
}

.i-t-w p {
	
	color: #454545;
	padding-top: 7px;
	padding-bottom: 3px;
	text-align:justify;
}

.i-t-w a { 
	
	color: #6B8E23;
	text-decoration: none;
}

.i-t-w a:hover { text-decoration: underline; }

.feed-frame {

	border-style:solid;
	border-width:1px;
}

.i-t-w pre {
	
	max-width: 700px;
	border-style: dotted;
	border-width: 2px;
	border-color: #EAEAEA;
	padding: 15px;
	background-color: #FEFDD3;
	overflow-x: auto;
}

.i-t-w figure {
	
	margin:0px; padding:0px;
}
 		
.i-t-w img { 
	
	max-width: 700px;
	overflow-x: auto;
}

.i-t-w h3 img {	margin: 10px; }
